<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- 引入bootstrap样式 -->
    <link href="/Content/adminLTE/bower_components/bootstrap/dist/css/bootstrap.css.map" rel="stylesheet">
    <!-- 引入bootstrap-table样式 -->
    <link href="/Content/adminLTE/bower_components/bootstrap/dist/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="/Content/adminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- bootstrap-table.min.js -->
    <script src="/Content/adminLTE/bower_components/bootstrap/dist/bootstrap-table/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="/Content/adminLTE/bower_components/bootstrap/dist/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>